  Profile
  <br>
  <div>
    <p>API Accounts:</p>
    <br />
    <%= link_to "Add An API Account", api_accounts_path %>
    <br />
    <% @api_accounts.each do |api_account| %>
        Provider: <%= api_account.api.provider %>
        <br >
        Api Account <%= link_to api_account.api_username, api_account_path(api_account), id: "api_account_#{api_account.id}"%>
      <hr>
    <% end %>
    </div>

</div>

<div class="bs-example bs-example-tabs" style="margin-bottom: 5%;">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#goals" data-toggle="tab">Goals</a></li>
    <li class=""><a href="#reminders" data-toggle="tab">Reminders</a></li>
  </ul>
  <div id="myTabContent" class="tab-content dashboard-outline" >
    <div class="tab-pane fade active in" id="goals">
      <div style="margin-left: 1%; padding-top: 1%">
        <p><%= link_to "Add Goal", new_goal_path %></p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Account</th>
              <th>Pledge</th>
              <th>Progress</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @goals.each do |goal| %>
              <tr>
                <td>
                <%= goal.api_account.api.provider %> -
                <%= link_to goal.api_account.api_username, api_account_path(goal.api_account) %></td>
                <td><%= link_to goal.pledge, goal_path(goal) %></td>
                <td></td>
                <td>ON/OFF</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-pane fade" id="reminders">
      <div style="margin-left: 1%; padding-top: 1%">
        <p>Reminders:</p>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Username/Account</th>
              <th>Target</th>
              <th>Deadline</th>
              <th>Time of Reminder</th>
              <th>Start Date</th>
              <th>Twitter<th>
              <th>Email</th>
              <th>SMS</th>
              <th>On/Off</th>
            </tr>
          </thead>
          <tbody>
            <% @reminders.each do |reminder| %>
              <tr>
                <td><%= link_to reminder.goal.api_account.api_username, api_account_path(reminder.goal.api_account) %>/<%= link_to reminder.goal.api_account.api.provider, api_account_path(reminder.goal.api_account) %></td>
                <td><%= link_to reminder.target, reminder_path(reminder) %></td>
                <td> <%= reminder.goal_render %>
                </td>
                <td><%= reminder.time_deadline.strftime("%I:%M%p") %></td>
                <td><%= reminder.created_at.to_s(:short) %></td>
                <td><%= reminder.twitter %></td>
                <td><%= reminder.email %></td>
                <td><%= reminder.sms %></td>
                <td>On/Off </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
