  Profile
  <br>
  <div>
    <p>API Accounts:</p>
    <br />
    <%= link_to "Add An API Account", api_accounts_path %>
    <br />
    <% @api_accounts.each do |api_account| %>
        Provider: <%= api_account.api.provider %>
        <br >
        Api Account <%= link_to api_account.api_username, api_account_path(api_account), id: "api_account_#{api_account.id}"%>
      <hr>
    <% end %>
    </div>

</div>

<div class="bs-example bs-example-tabs" style="margin-bottom: 5%;">
  <ul id="myTab" class="nav nav-tabs">
    <li class="active"><a href="#goals" data-toggle="tab">Goals</a></li>
    <li class=""><a href="#reminders" data-toggle="tab">Reminders</a></li>
  </ul>
  <div id="myTabContent" class="tab-content dashboard-outline" >
    <div class="tab-pane fade active in" id="goals">
      <div style="margin-left: 1%; padding-top: 1%">
        <p><%= link_to "Add Goal", new_goal_path %></p>
        <p>Goals:</p>
        <% @goals.each do |goal| %>
          Goal Name: <%= goal.name %>
          <br />
          Goal Description: <%= goal.description %>
          <br />
          <br />
        <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="reminders">
      <div style="margin-left: 1%; padding-top: 1%">
        <p>Reminders:</p>
        <% @reminders.each do |reminder| %>
          Target <%= reminder.target %>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
