
  <div class="col-md-4">
    <div id="github-image" style="margin-left: 20%">
      <%= image_tag("githublogo.png", id: "github-logo") %>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Github</h1>
      </div>
    <div class="panel-body">
      <div id="github_form">
        <%= form_for @api_account do |api| %>
          <%= api.text_field :api_username, placeholder: "Github Username" %>
          <%= api.hidden_field :api_id, :value => @github_api_id %>
          <%= api.submit "Link My Account" %>
        <% end %>
      </div>
      <div id="api_account_listings">
        <% if @github_accounts != nil %>
          <ul class="list-group">
            <h4>Linked Accounts</h4>
            <% @github_accounts.each do |github_account| %>
              <h4><li class="list-group-item"><%= link_to github_account.api_username, api_account_path(github_account) %></li></h4>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
