<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">Connect An API Account</h3>
  </div>
  
  <div class="panel-body">

    <div class="row center-block" style="margin-top: .5%; margin-left: .5%;">
      <div id="github">
        <div id="github-image">
          <%= image_tag("githublogo.png", class: "img-cirlce pull-left", style: "margin-left: 20%; margin-right: 15%;", id: "github-logo" ) %>
        </div>
        <h1>Github</h1>
        <br />
        <div id="github_form">
          <%= form_for @api_account do |api| %>
            <%= api.text_field :api_username, placeholder: "Github Username" %>
            <%= api.hidden_field :api_id, :value => @github_api_id %>
            <%= api.submit "Link My Account" %>
          <% end %>
        </div>
        <div style="margin-left: 21%;">
          <% @github_accounts.each do |github_account| %>
            <li><%= github_account.api_username %></li>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: .5%; margin-left: .5%;">
      <div id="fitbit">
        <div id="fitbit-image">
          <%= image_tag("fitbitlogo.png", class: "img-cirlce pull-left", style: "margin-left: 20%; margin-right: 15%;", id: "fitbit-logo") %>
        </div>
        <h1>Fitbit</h1>
        <br />
        <div id="fitbit_form">
          <%= form_for @api_account do |api| %>
            <%= api.text_field :api_username, placeholder: "Fitbit Username" %>
            <%= api.hidden_field :api_id, :value => @fitbit_api_id %>
            <%= api.submit "Link My Account" %>
          <% end %>
        </div>
        <div style="margin-left: 21%;">
          <% @fitbit_accounts.each do |fitbit_account| %>
            <li><%= fitbit_account.api_username %></li>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: .5%; margin-left: .5%;">
      <div id="exercism">
        <div id="exercism-image">
          <%= image_tag("exercismlogo.png", class: "img-cirlce pull-left", style: "margin-left: 20%; margin-right: 15%;", id: "exercism-logo") %>
        </div>
        <h1>Exercism</h1>
        <br />
        <div id="exercism_form">
          <%= form_for @api_account do |api| %>
            <%= api.text_field :api_username, placeholder: "Exercism Username" %>
            <%= api.hidden_field :api_id, :value => @exercism_api_id %>
            <%= api.submit "Link My Account" %>
          <% end %>
        </div>
        <div style="margin-left: 21%;">
          <% @exercism_accounts.each do |exercism_account| %>
            <li><%= exercism_account.api_username %></li>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
