<div class="row background-pattern rounded-tops" style="padding-top: 2%;">
  <div class="col-md-4">
    <%= image_tag("small-#{@api_account.api.image_url}") %>
    <div class="api-account-title">
      <h2><%= @api_account.api_username %> <small><%= @provider %></small></h2>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body center-block">
        <%= render partial: "#{@provider}_show" %>
      </div>
    </div>
  </div>
</div>

<div class="row background-pattern rounded-bottoms">
  <div class="col-md-4">
    <h4>My Commitments</h4>
    <% @goals.each do |goal| %>
      <%= goal.pledge %>
    <% end %>
  <div>
    <br>
    <%= button_to "Make A Commitment", new_goal_path, class:  'btn white-bg' %>
  </div>
  </div>

  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body center-block">
        <%= render partial: "#{@provider}_graph" %>
      </div>
    </div>
  </div>
</div>
