<div id="reminder-show-page">
  <h1>Reminder</h1>
  Target: <%= best_in_place  @reminder, :target %> <br>
  Day Deadline: <%= best_in_place @reminder, :day_deadline %><br>
  Time Deadline:  <%= best_in_place @reminder, :time_deadline %><br>
  Start Date: <%= best_in_place @reminder, :start_date, :type => :date %><br>
  <%= link_to @reminder.goal.api_account.api_username, api_account_path(@reminder.goal.api_account) %>
</div>
