
<div style="padding-right: 8%;">
  <%= form_for @goal, :html => {:id => "Github", :class => "form-horizontal"} do |g| %>
  <div>
  <p class="text-center">
    <span style="font-size: 3em;">Pledge:</span><br/>
      <span class='github-pledge-display'>
        <span class='github-pledge'>I am pledging to maintain my streak in <span class='pledge-language'>_</span>
      </span>
    </span>
    starting today.
    <br />
  </p>
</div>
    <div class="form-group" style="margin-top: 1%;">

      <%= g.label :language, "Language Type", class: "col-sm-2 control-label" %>
      <div class="col-sm-10" style="padding-bottom: 1%;">
        <%= g.select(:language, [['Select a Language to Track', {'value' => '', 'disabled' => 'disabled', 'selected' => 'selected' }],"Any Language", "Spanish", "German", "French", "Italian", "Portuguese"], {}, { :class => 'form-control col-sm-2 control-label github-language-input'}) %>
      </div>
      
      <%= g.hidden_field :target, :value => 1 %>
      <%= g.hidden_field :commit_type, :value => "point" %>
      <%= g.hidden_field :period_type, :value => "day" %>
      <%= g.hidden_field :api_account_id, :value => api_account_id %>
      <%= g.hidden_field :pledge, class: "github-pledge-input"%>

      <div class="col-sm-2 control-label"></div>
      <div class="col-sm-10">
        <%= g.submit "Submit Goal", class: "form-control" %>
      </div>

    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function(){

      $('.github-language-input').change(function(event){
          event.preventDefault();

          var target_type = this.value;
          //$('.github-period-type-input').text();

          $('.pledge-language').text(target_type);
          });

      $('.github-language-input').change(function(event){

          event.preventDefault();
          var pledges = $('.github-pledge-display');
          var pledge = $(pledges[0]).text();
          $('.github-pledge-input').val(pledge);
          });

  });
</script>

