<%= form_for @goal, :html => {:id => "Github", :class => "form-horizontal"} do |g| %>
  <div class="form-group" style="margin-top: 1%;">

    <%= g.label :name, "Name", class: "col-sm-2 control-label" %>
    <div class="col-sm-10" style="padding-bottom: 1%;">
      <%= g.text_field :name, class: "form-control", placeholder: "Goal Name" %>
    </div>

    <%= g.label :description, "Description", class: "col-sm-2 control-label"  %>
    <div class="col-sm-10" style="padding-bottom: 1%;">
      <%= g.text_field :description, class: "form-control", placeholder: "Goal Description"   %>
    </div>

    <%= g.label :target, "Target Goal", class: "col-sm-2 control-label" %>
    <div class="col-sm-10" style="padding-bottom: 1%;">
      <%= g.select(:target, [['Select A Target To Achieve', {'value' => '', 'disabled' => 'disabled', 'selected' => 'selected' }],1,2,3,4], {}, { :class => 'form-control col-sm-2 control-label'}) %>
    </div>

    <%= g.label :period, "Period", class: "col-sm-2 control-label" %>
    <div class="col-sm-10" style="padding-bottom: 1%;">
      <%= g.select(:period, [['Select A Period Of Time To Hit Your Target', {'value' => '', 'disabled' => 'disabled', 'selected' => 'selected' }],1,2,3,4], {}, { :class => 'form-control col-sm-2 control-label'}) %>
    </div>

    <%= g.label :period_type, "Period Type", class: "col-sm-2 control-label" %>
    <div class="col-sm-10" style="padding-bottom: 1%;">
      <%= g.select(:period_type, [['Select How Often You Want To Hit The Goal', {'value' => '', 'disabled' => 'disabled', 'selected' => 'selected' }],"Daily", "Weekly", "Monthly"], {}, { :class => 'form-control col-sm-2 control-label'}) %>
    </div>

    <%= g.label :start_date, "Start Date", class: "col-sm-2 control-label" %>
    <div class="col-sm-10" style="padding-bottom: 5%;">
      <%= g.date_field :start_date, class: "form-control", placeholder: "Pick A Start Date" %>
      <!-- class: datepicker -->
    </div>

    <%= g.hidden_field :api_account_id, :value => 1 %>
    <div class="col-sm-2 control-label"></div>
      <div class="col-sm-10">
        <%= g.submit "Submit Goal", class: "form-control" %>
    </div>

  </div>
<% end %>


<!-- <script>
  $('.datepicker').datepicker();
</script> -->

