<div>
  <p class="text-center">
    <span style="font-size: 3em;">Pledge:</span><br/>
    <span id='github-pledge-display'>
      <span id='github-pledge'>I am committing to reach 
        <span id='github-target'>_</span>
        <span id='github-target-type'>commit</span><span id='github-commits'></span> every
        <span id='github-period'>_</span> 
        <span id='github-period-type'>_</span><span id='github-lengths'></span>
      </span>
    </span>
    starting today.
    <br />
  </p>
</div>
<div style="padding-right: 8%;">
  <%= form_for @goal, :html => {:id => "Github", :class => "form-horizontal"} do |g| %>
    <div class="form-group" style="margin-top: 1%;">

      <%= g.label :target, "Target Goal", class: "col-sm-2 control-label" %>
      <div class="col-sm-10" style="padding-bottom: 1%;">
        <%= g.select(:target, [['Select A Target To Achieve', {'value' => '', 'disabled' => 'disabled', 'selected' => 'selected' }],1,2,3,4], {}, { :class => 'form-control col-sm-2 control-label'}) %>
      </div>

      <%= g.label :period, "Period", class: "col-sm-2 control-label" %>
      <div class="col-sm-10" style="padding-bottom: 1%;">
        <%= g.select(:period, [['Select A Period Of Time To Hit Your Target', {'value' => '', 'disabled' => 'disabled', 'selected' => 'selected' }],1,2,3,4], {}, { :class => 'form-control col-sm-2 control-label'}) %>
      </div>

      <%= g.label :period_type, "Period Type", class: "col-sm-2 control-label" %>
      <div class="col-sm-10" style="padding-bottom: 1%;">
        <%= g.select(:period_type, [['Select How Often You Want To Hit The Goal', {'value' => '', 'disabled' => 'disabled', 'selected' => 'selected' }],"day", "week", "month"], {}, { :class => 'form-control col-sm-2 control-label'}) %>
      </div>


      <%= g.hidden_field :api_account_id, :value => @github_account.id %>
      <%= g.hidden_field :pledge %>

      <div class="col-sm-2 control-label"></div>
      <div class="col-sm-10">
        <%= g.submit "Submit Goal", class: "form-control" %>
      </div>

    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function(){

      //change target
      $('#goal_target').change(function(event){
        event.preventDefault();
        var target = this.value;

        $('#github-target').text(target);

        if(target == '1'){
          $('#github-commits').text('');
        }else{
          $('#github-commits').text('s');
        }
        });

      //change target-type
      $('#target-type-input').change(function(event){
        event.preventDefault();
        var target_type = $('#github-target-type-input').find(':selected').text();
        $('#github-target-type').text(target_type);
        });

      //change target-input
      $('#goal_period').change(function(event){
        event.preventDefault();

        var period = this.value;

        $('#github-period').text(period);

        if(period=='1'){
          $('#github-lengths').text('');
        }else{
          $('#github-lengths').text('s');
        }
        });

      //change target-type-input
      $('#goal_period_type').change(function(event){
          event.preventDefault();
          var target_type = $('#goal_period_type').find(':selected').text();
          $('#github-period-type').text(target_type);
          });

      $('#goal_target, #goal_target_type, #goal_period, #goal_period_type').change(function(event){

          event.preventDefault();
          var pledge = $('#github-pledge-display').text();
          $('#goal_pledge').val(pledge);
          var a = $('#goal_pledge');
          console.log(a);
          });

  });
</script>

