
<div style="padding-right: 8%;">
  <%= form_for @goal, :html => {:id => "Github", :class => "form-horizontal"} do |g| %>
  <div>
  <p class="text-center">
    <span style="font-size: 3em;">Pledge:</span><br/>
    <span class='github-pledge-display'>
      <span class='github-pledge'>I am pledging to make 
        <span class='pledge-target'>_</span>
        <span class='pledge-target-type'>commit</span><span class='pledge-commits'></span>
        every
        <span class='pledge-period-type'>_</span>
      </span>
    </span>
    starting today.
    <br />
  </p>
</div>
    <div class="form-group" style="margin-top: 1%;">

      <%= g.label :target, "Target Goal", class: "col-sm-2 control-label" %>
      <div class="col-sm-10" style="padding-bottom: 1%;">
        <%= g.select(:target, [['Select A Target To Achieve', {'value' => '', 'disabled' => 'disabled', 'selected' => 'selected' }],1,2,3,4,5,6,7,8,9,10,20,30,40,50,60,70,80,100], {}, { :class => 'form-control col-sm-2 control-label github-target-input'}) %>
      </div>

      <%= g.label :period_type, "Period Type", class: "col-sm-2 control-label" %>
      <div class="col-sm-10" style="padding-bottom: 1%;">
        <%= g.select(:period_type, [['Select How Often You Want To Hit The Goal', {'value' => '', 'disabled' => 'disabled', 'selected' => 'selected' }],"day", "week", "month", "year"], {}, { :class => 'form-control col-sm-2 control-label github-period-type-input'}) %>
      </div>


      <%= g.hidden_field :api_account_id, :value => api_account_id %>
      <%= g.hidden_field :pledge, class: "github-pledge-input"%>

      <div class="col-sm-2 control-label"></div>
      <div class="col-sm-10">
        <%= g.submit "Submit Goal", class: "form-control" %>
      </div>

    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function(){

      //change target
      $('.github-target-input').change(function(event){
        event.preventDefault();

        var target = this.value;
        
        $('.pledge-target').text(target);

        if(target == '1'){
          $('.pledge-commits').text('');
        }else{
          $('.pledge-commits').text('s');
        }
        });

      //change target-type
      // $('.github-target-type-input').change(function(event){
      //   event.preventDefault();

      //   var target_type = $('.github-target-type-input').find(':selected').text();
      //   $('.pledge-target-type').text(target_type);
      //   });


      //change target-type-input
      $('.github-period-type-input').change(function(event){
          event.preventDefault();

          var target_type = this.value;
          //$('.github-period-type-input').text();

          $('.pledge-period-type').text(target_type);
          });

      $('.github-target-input, .github-goal-type-input, .github-period-type-input').change(function(event){

          event.preventDefault();
          var pledges = $('.github-pledge-display');
          var pledge = $(pledges[0]).text();
          $('.github-pledge-input').val(pledge);
          });

  });
</script>

