<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title" id="create-goal-title">Create A New Goal</h3>
  </div>

  <div class="panel-body center-block">
    <div class="text-center">

      <div style="margin-top: .5%">
        <div class="api_selection">
          <select id="api_selection" name="api_selection">
            <option value="" disabled="disabled" selected="selected">Please Select An Account</option>
            <% @api_accounts.each do |api_account| %>
              <option value="<%= api_account.id %>"><%= api_account.api.provider %> - <%= api_account.api_username %></option>
            <% end %>
          </select>
        </div>
        <br />
        <p id='goal-message'>
          Define your goal
        </p>
      </div>

      <div class="col-md-12 panel panel-default" id="all-forms" >
        <div class="panel-body">
          <% @api_accounts.each do |api_account| %>
            <% if api_account.api.provider.downcase == "github" %>
              <div id="github_form_<%=api_account.id%>" style="display: none;" class="forms">
                <%= render partial: "goals/github", locals: { api_account_id: api_account.id } %>
              </div>
            <% elsif api_account.api.provider.downcase == "exercism" %>
              <div id="github_form_<%=api_account.id%>" style="display: none;" class="forms">
                <%= render partial: "goals/exercism", locals: { api_account_id: api_account.id } %>
              </div>
            <% else %>
              <div id="github_form_<%=api_account.id%>" style="display: none;" class="forms">
                <%= render partial: "goals/duolingo", locals: { api_account_id: api_account.id } %>
              </div>
            <% end %>
          <% end %>

          <!-- <div id="fitbit_form" style="display: none;" class="forms">

          </div>
          <div id="exercism_form" style="display: none;" class="forms">

          </div> -->


        </div>
      </div>

    </div>
  </div>

</div>

<script>
  $('#api_selection').change(function(e){
    $(".forms").hide()
    var value = $(e.target).val();
    $("#github_form_" + value).show();
    $('#goal-message').hide();
  });
</script>
