<div>User Account: <%= link_to @goal.api_account.api_username, api_account_path(@goal.api_account) %></div>

<h1 class="goal-title"><%= @goal.pledge %></h1>

<%= render partial: "progressgit" %>

<div><a href="#" class="reminder-button btn btn-lg btn-info">Add Reminder</a></div>

<div class="reminders-form well" hidden="true">
  <%= form_for @reminders do |r| %>
    <table class='table'>
      <thead>
        <tr>
          <th><%= r.label :start_date %></th>
          <th><%= r.label :target %></th>
          <th><%= r.label :time_deadline %></th>
          <th><%= r.label :day_deadline %></th>
          <th><%= r.label :twitter %></th>
          <th><%= r.label :email %></th>
          <th><%= r.label :sms %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= r.date_field :start_date %></td>
          <td><%= r.number_field :target %></td>
          <td><%= r.text_field :time_deadline %></td>
          <td><%= r.number_field :day_deadline %></td>
          <td><%= r.check_box :twitter %></td>
          <td><%= r.check_box :email %></td>
          <td><%= r.check_box :sms %></td>
          <td><%= r.submit :class => "reminder-submit-button btn btn-primary" %></td>
        </tr>
        <% unless current_user.email %>
        <tr id="add-email-tr">
          <td>Enter email address:</td>
          <td><%= r.text_field :add_email %></td>
        </tr>
        <% end %>
      </tbody>
      <%= r.hidden_field :goal_id, value: @goal.id%>
    </table>
  <% end %>
</div>

<script>
jQuery(document).ready(function($) {
   $('input#reminder_email').change(function(){
        if ($(this).is(':checked')) $('#add-email-tr').show();
        else $('#add-email-tr').hide();
    }).change();
});
</script>

<div class='center-block' >
  <h3>Current Reminders For Goal</h3>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Reminder</th>
        <th></th>
      </tr>
    </thead>
    <% @goal.reminders.each do |r| %>
      <tr>
        <td><%= link_to "I need to reach #{r.target} commits by #{r.render_time_deadline} every #{r.day_deadline} days", reminder_path(r), :class => "view-reminder-link" %></td>
        <td>ON/OFF</td>
      </tr>
    <% end %>
  </table>
</div>

<script>
  $(".reminder-button").click(function(event) {
    event.preventDefault();
    $(".reminders-form").toggle();
  });
</script>

